# Configuration file for making the all years CMS luminosity plot.

[general]
plot_multiple_years = True

# Comma-separated list of color schemes to produce plots for.
color_schemes = Greg
cache_dir = public_lumi_plots_cache/pp_all
verbose = False

lumicalc_script = brilcalc lumi
lumicalc_flags = -b "STABLE BEAMS" --byls

# Accelerator mode (used in plot titles)
accel_mode = PROTPHYS

# Scale factors to use for particular years.
display_scale_factor = {"2010": {"integrated": 50.0, "peak": 10.0}}

# First day with non-zero delivered luminosity in all years.
date_begin = 2010-03-30
# Last day with non-zero delivered luminosity in all years.
date_end = 2022-11-28
# Skip these years when making plots.
skip_years = [2013, 2014,2019,2020,2021]

plot_directory = plots/allYears
